# Arquivos sensíveis
.env
*.key
*.pem

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
env/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Node (frontend)
node_modules/
npm-debug.log
yarn-error.log
